.nav {
    grid-area: n;
    background-color: lightblue;
}

ul {
    list-style: none;
    color: white;
}

li {

}

.link {
    text-decoration: none;
    color: white;
}

.link_active {
    color: gold;
    font-weight: bold;
}