.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 30px;
}

.dialogsItems a {
    text-decoration: none;
    color: bisque;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 30px;
}


.sendMessage {
    padding: 30px;
}


